<%# app/views/shared/_meta.html.erb %>
<% site_name   = "MVPScaler" %>
<% page_title  = content_for?(:title) ? yield(:title) : "Validate Your Idea in days, not months | #{site_name}" %>
<% description = content_for?(:description) ? yield(:description) : "Spin up a landing page, get AI help for copy, and collect emails to validate in 7 days without wasting months." %>
<% url         = "https://mvpscaler.com/" %>
<% image       = asset_url("mvpscaler_og.png") %>

<title><%= page_title %></title>
<meta name="description" content="<%= description %>">
<link rel="canonical" href="<%= url %>">

<meta property="og:type" content="website">
<meta property="og:site_name" content="<%= site_name %>">
<meta property="og:title" content="<%= page_title %>">
<meta property="og:description" content="<%= description %>">
<meta property="og:url" content="<%= url %>">
<meta property="og:image" content="<%= image %>">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="<%= page_title %>">
<meta name="twitter:description" content="<%= description %>">
<meta name="twitter:image" content="<%= image %>">


<meta name="google-site-verification" content="g5c8A9Xc4mLyhNLpaC_nuCfgS4eA2ekP2EGZLA4gZsQ" />